<tr>
    <td> <%= data.date %> </td>
    <td> <%= data.time %> </td>
    <td>
        <i class="edit circular icon teal inverted" style="cursor:pointer;" date-obj="<%= data.pk %>"></i>
        <i class="remove square icon red inverted" style="cursor:pointer;" date-obj="<%= data.pk %>"></i>
    </td>
</tr>