{% extends "base.html"%}

{% block content %}
<div class="ui vertically divided grid">
    <div class="two column row">
        <div class="column">
            Request details
        </div>
        <div class="column">
            Request map
        </div>
    </div>
    <div class="one column row">
        <div class="column">
            QA
        </div>
    </div>
    <div class="one column row">
        <div class="column">
            Comments
        </div>
    </div>
</div>
{% endblock content %}