{% extends "base.html"%}

{% block content %}
<div class="ui vertically divided grid">
{# show provider reponse overview only to staff user#}
{% if user.is_staff %}
<div class="two column row">
    <div class='column'>
        <h4>Provider information</h4>
        <div>
            <table class="ui table segment compact">
            <thead id="status-list">
            </thead>
            <tbody id="provider-response-list">
            </tbody>
            </table>
        </div>
    </div>
    <div class='column'>
    </div>
</div>
{% endif %}
    <div class="two column row">
        <div class="column">
        <h4>Request information</h4>
            <table class="ui small table segment">
                <tr>
                    <td class="project-field">Title:</td>
                    <td class="project-value">{{ object.title }}</td>
                    <td><a class="small ui secondary button" href="{% url 'edit_request' object.id %}">
                        <i class="edit icon"></i> EDIT
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="project-field">Desciption:</td>
                    <td class="project-value" colspan="2">{{ object.description }}</td>
                </tr>
                <tr>
                    <td class="project-field">Created by:</td>
                    <td class="project-value" colspan="2">{{ object.created_by }}</td>
                </tr>
                <tr>
                    <td class="project-field">Status:</td>
                    <td class="project-value" colspan="2">{{ object.status }}</td>
                </tr>
                <tr>
                    <td class="project-field">Question set:</td>
                    <td class="project-value" colspan="2">{{ object.question_set }}</td>
                </tr>
            </table>

            <h4>Request Dates</h4>
            <form action="" method="post" id="date_form">{% csrf_token %}
                <table class="ui small table segment" id="dates_table">
                    <thead>
                        <tr>
                            <th>Date (DD/MM/YYYY)</th>
                            <th>Time (H:M)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for req_date in object.requestdate_set.all %}
                        <tr>
                            <td>{{ req_date.date|date:"d/m/Y" }}</td>
                            <td>{{ req_date.time|default:None|time:"H:i" }}</td>
                            <td>
                                <i class="edit circular icon teal inverted" style="cursor:pointer;" date-obj="{{req_date.pk}}"></i>
                                <i class="remove square icon red inverted" style="cursor:pointer;" date-obj="{{req_date.pk}}"></i>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="3">
                                <div class="ui blue labeled icon mini button" id="add_date_btn">
                                    <i class="calendar icon"></i> Add date</div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
        <div class="column">
            <div id="map" style="height: 300px;"></div>
            <a href="{% url 'download_request' request.id %}">
                <div id="download-button" class="small ui secondary button">
                  <i class="download icon"></i> Download request geometry
                </div>
            </a>
        </div>
    </div>
    <div class="two column row">
        <div class="column">
            <h2>Comments</h2>
            <div id="comments_block">
                {% include "request_comments.html" %}
            </div>
        </div>
        <div class="column">
            <h2>Questions&Answers</h2>
            {% include "request_qa.html" %}
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">

        $('#menu_imagery').addClass('active');
        initMap();

        var geojsonPolygon = jQuery.parseJSON('{{ object.area_of_interest.geojson|safe }}');
        var drawnItems = new L.FeatureGroup();
        drawnItems.on('layeradd', function() {
            map.fitBounds(drawnItems.getBounds());
        });
        var layer = L.geoJson(geojsonPolygon).addTo(drawnItems);
        map.addLayer(drawnItems);


        // add click handler for all future 'red icons'
        $('.ui.answers').on('click', '.answer.save.icon.red.link', function(evt) {
            var link = '/answer/add/'+this.dataset.requestId+'/'+this.dataset.questionId;
            var self = this;

            var input_value = $(this).parent().find('input').val() || '';
            $.ajax(link, {
                method: 'POST',
                data: {'text':input_value,'question':this.dataset.questionId, 'imagery_request':this.dataset.requestId}
            }).done(function () {
                $(self).toggleClass('red').toggleClass('link').toggleClass('disabled');
                //flash message
                var fl_message = $('<div class="ui success message flash"><i class="close icon"></i><div class="header">Answer updated!</div><p></p></div>');
                $('.flash_messages').append(fl_message);
                fl_message.transition('bounce');
                setTimeout(function() {
                        fl_message.transition('fade out', {
                            'complete': function() {fl_message.remove();}
                        });
                }, 5000)
            }).fail(function () {
                //flash message
                var fl_message = $('<div class="ui error message flash"><i class="close icon"></i><div class="header">Error updating answer</div><p>Answer can\'t be empty!</p></div>');
                $('.flash_messages').append(fl_message);
                fl_message.transition('bounce');
                setTimeout(function() {
                        fl_message.transition('fade out', {
                            'complete': function() {fl_message.remove();}
                        });
                }, 5000);
            });
        });

        $('input.answer').on('focusin', function(evt) {
            var save_icon = $(this).parent().find('.answer.save');
            if (save_icon.hasClass('disabled')) {
                save_icon.toggleClass('disabled').toggleClass('red').toggleClass('link');
            }
        });

        // submit and refresh comments (new_comment)
        $('#comments_block').on('click', '.new_comment .ui.reply.form .submit.button', function(){
            var self = this;
            var form = $(this).parent()
            $.ajax(form.attr('action'), {
                data: form.serialize(),
                method: form.attr('method')
            }).done(function(data) {
                var url = '/refreshcomments/'+self.dataset.requestId;
                $.ajax(url).done(function(data) {
                    $('#comments_block').html(data);
                })
            }).fail(function () {
                //flash message
                var fl_message = $('<div class="ui error message flash"><i class="close icon"></i><div class="header">Error adding a new reply</div><p></p></div>');
                $('.flash_messages').append(fl_message);
                fl_message.transition('bounce');
                setTimeout(function() {
                        fl_message.transition('fade out', {
                            'complete': function() {fl_message.remove();}
                        });
                }, 5000)
            });
        });

        // inline reply form, submit and refresh (new replay)
        $('#comments_block').on('click', '.comment .content .actions .reply', function() {
            var self = this;
            var comment = $(self).parent().parent();

            var url = '/comments/reply/' + this.dataset.commentId;

            if (!comment.find('form').length) {
                $.ajax(url).done(function (data) {
                    comment.append(data);
                });
            }
        });

        $('#comments_block').on('click', '.new_reply .ui.reply .submit.button', function() {
            var self = this;
            var form = $(this).parent()
            $.ajax(form.attr('action'), {
                data: form.serialize(),
                method: form.attr('method')
            }).done(function(data) {
                var url = '/refreshcomments/'+self.dataset.requestId;
                $.ajax(url).done(function(data) {

                    $('#comments_block').html(data);
                })
            }).fail(function () {
                //flash message
                var fl_message = $('<div class="ui error message flash"><i class="close icon"></i><div class="header">Error adding a new reply</div><p></p></div>');
                $('.flash_messages').append(fl_message);
                fl_message.transition('bounce');
                setTimeout(function() {
                        fl_message.transition('fade out', {
                            'complete': function() {fl_message.remove();}
                        });
                }, 5000)
            });
        });

    // load request date form
    $('#add_date_btn').click(function() {
        $.ajax({
            url: "{% url 'add_request_date' object.id %}",
            type: 'GET',
        }).done(function(response) {
            $('#dates_table tbody').append(response);

            $('#id_date').datepick({
                dateFormat: 'dd/mm/yyyy'
            });

            $('#add_date_btn').hide();
            // $('.remove').hide();
            // $('.edit').hide();
        }).fail(function(response) {
            console.log(response)
        });
    });

    // on save_date button click submit form
    $('#dates_table tbody').on('click','tr td #save_date', function(evt) {
        var form = $('#date_form');

        $.ajax('', {
            data: form.serialize(),
            method: 'POST',
            url: "{% url 'add_request_date' object.id %}"
        }).done(function(data) {
            // clean inlined form
            $('#dates_form_tr').remove();
            $('#dates_form_tr_errors').remove();

            // add date to the table
            $('#dates_table tbody').append(JST.request_date({'data':data}));
            $('#add_date_btn').show();
            $('#dates_table tbody .remove').show();
            $('#dates_table tbody .edit').show();
        }).fail(function(response) {
            $('#dates_form_tr').remove();
            $('#dates_form_tr_errors').remove();
            $('#dates_table tbody').append(response.responseText)

            $('#id_date').datepick({
                dateFormat: 'dd/mm/yyyy'
            });
        })
    });

    // cancel adding request date
    $('#dates_table tbody').on('click','tr td #cancel_date', function(evt) {
        $('#dates_form_tr').remove();
        $('#dates_form_tr_errors').remove();

        $('#add_date_btn').show();
        $('#dates_table tbody .remove').show();
        $('#dates_table tbody .edit').show();
    });

    // load date edit form
    $('#dates_table tbody').on('click', 'tr td .edit', function() {
        edit_date_obj = $(this).attr('date-obj');
        var self = this;
        tr_clone = $(self).closest('tr').clone() // clone tr for future use

        $.ajax({
            method: 'GET',
            url: "/requests/edit-date/"+edit_date_obj+"/"
        }).done(function(response) {
            $(self).closest('tr').replaceWith(response);
            $('#id_date').datepick({
                dateFormat: 'dd/mm/yyyy',
            });

            $('#add_date_btn').hide();
            $('#dates_table tbody .remove').hide();
            $('#dates_table tbody .edit').hide();
        }).fail(function(response) {
        })
    });

    // on save_date_change button click submit form
    $('#dates_table tbody').on('click','tr td #save_date_change', function(evt) {
        var form = $('#date_form');

        $.ajax({
            data: form.serialize(),
            method: 'POST',
            url: "/requests/edit-date/"+edit_date_obj+"/"
        }).done(function(data) {
            $('#dates_form_tr_errors').remove();
            $('#dates_form_tr').replaceWith(
                JST.request_date({'data':data})
            );

            $('#add_date_btn').show();
            $('#dates_table tbody .remove').show();
            $('#dates_table tbody .edit').show();
        }).fail(function(response) {
            $('#dates_form_tr_errors').remove();
            $('#dates_form_tr').replaceWith(response.responseText)

            $('#id_date').datepick({
                dateFormat: 'dd/mm/yyyy',
            });
        })
    });

    // cancel editing request date
    $('#dates_table tbody').on('click','tr td #cancel_date_change', function(evt) {
        $('#dates_form_tr_errors').remove();
        $('#dates_form_tr').replaceWith(tr_clone);

        $('#add_date_btn').show();
        $('#dates_table tbody .remove').show();
        $('#dates_table tbody .edit').show();
    });

    // remove date
    $('#dates_table tbody').on('click', 'tr td .remove', function() {
        var date_obj = $(this).attr('date-obj')
        var self = this

        $.ajax('', {
            method: 'POST',
            url: "/requests/delete-date/"+date_obj+"/"
        }).done(function(response) {
            $(self).closest('tr').remove();
        }).fail(function(response) {
        })
    });

    {# show provider response overview only to staff user#}
    {% if user.is_staff %}

    // start application and pass initial data
    MyApp.start({
        imagery_request_id: {{ object.pk }},
        statuses: new Statuses({{ statuses|safe }}),
        providers: new Providers({{ providers|safe }}),
        providerresponses: new ProviderResponseCol({{ providerresponses|safe }})
    });

    {% endif %}
    </script>

{% endblock %}