{% extends "base.html"%}

{% block content %}
<div class="ui vertically divided grid">
    <div class="two column row">
        <div class="column">
            <table>
                <tr>
                    <td class="project-field">Title:</td>
                    <td class="project-value">{{ object.title }}</td>
                </tr>
                <tr>
                    <td class="project-field">Desciption:</td>
                    <td class="project-value">{{ object.description }}</td>
                </tr>
                <tr>
                    <td class="project-field">Created by:</td>
                    <td class="project-value">{{ object.created_by }}</td>
                </tr>
                <tr>
                    <td class="project-field">Status:</td>
                    <td class="project-value">{{ object.status }}</td>
                </tr>
                <tr>
                    <td class="project-field">Question set:</td>
                    <td class="project-value">{{ object.question_set }}</td>
                </tr>
            </table>
        </div>
        <div class="column">
            <div id="map" style="height: 300px;"></div>
        </div>
    </div>
    <div class="one column row">
        <div class="column">
            {% include "request_qa.html" %}
        </div>
    </div>
    <div class="one column row">
        <div class="column">
            {% include "request_comments.html" %}
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        initMap();

        var geojsonPolygon = jQuery.parseJSON('{{ object.area_of_interest.geojson|safe }}');
        var drawnItems = new L.FeatureGroup();
        drawnItems.on('layeradd', function() {
            map.fitBounds(drawnItems.getBounds());
        });
        var layer = L.geoJson(geojsonPolygon).addTo(drawnItems);
        map.addLayer(drawnItems);
    </script>
{% endblock %}