{% extends "base.html"%}

{% block content %}
<div class="ui one column page grid">
  <div class="column">
    {% if form.errors %}
    <div class="ui secondary inverted red segment">
    We noticed some issues. Please correct errors below.
    </div>
    {% endif %}
    <form  action="" method="post" enctype="multipart/form-data" id="new_request">{% csrf_token %}
        <div class="ui form segment">
          {% if form.status %}
          <div class="field">
            <a class="small ui secondary button" href="{% url 'view_request' object.id %}">
              <i class="block layout icon"></i> Detailed request view
              </a>
          </div>
          {% endif %}
          <div class="field">
            {{form.title.label_tag}}
            <div class="ui left labeled icon input">
                {{ form.title }}
                <i class="info letter icon"></i>
                <div class="ui corner label">
                    <i class="icon asterisk"></i>
                </div>
            </div>
            {% if form.title.errors %}
              {% for error in form.title.errors %}
              <div class="ui pointing red label">
                {{ error }}
              </div>
              {% endfor %}
            {% endif %}
          </div>
          {% if form.status %}
          <div class="field">
            <label>Status:</label>
            {% for radio in form.status %}
                <div class="ui radio checkbox">
                  {{ radio.tag }}
                  <label>{{ radio.choice_label }} </label>
                </div><br />
            {% endfor %}
          </div>
          {% endif %}
          <div class="field">
            {{form.description.label_tag}}
            <div class="ui left labeled icon input">
              {{ form.description }}
              <i class="text file icon"></i>
              <div class="ui corner label">
                <i class="icon asterisk"></i>
              </div>
            </div>
            {% if form.description.errors %}
              {% for error in form.description.errors %}
              <div class="ui pointing red label">
                {{ error }}
              </div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="field">
            <label>Imagery request area of interest:</label>
            <div id="map" class="map" style="height: 450px"></div>
            {% if form.area_of_interest.errors %}
              {% for error in form.area_of_interest.errors %}
              <div class="ui pointing red label">
                {{ error }}
              </div>
              {% endfor %}
            {% endif %}
          </div>
          {{ form.area_of_interest }}
          {{ form.multipolygon_errors }}
          <label>Question set:</label>
          {% for radio in form.question_set %}
            <div class="field">
              <div class="ui radio checkbox">
                {{ radio.tag }}
                <label>{{ radio.choice_label }}</label>
              </div>
            </div>
          {% endfor %}
          {% if form.question_set.errors %}
              {% for error in form.question_set.errors %}
              <div class="ui pointing red label">
                {{ error }}
              </div>
              {% endfor %}
          <br><br>
          {% endif %}
          <button class="ui right blue labeled icon button submit" type="submit"><i class="right arrow icon"></i> Submit</button>
        </div>
    </form>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">
    $('#menu_imagery').addClass('active');
    $('.ui.radio.checkbox')
      .checkbox();

    initMap();
    initRequestFormMap();

  </script>
{% endblock %}