<div class="ui answers celled grid">

{% for question in object.questions_and_answers %}
  <div class="row">
    <div class="column">

        <div class="ui message">
            <div class="header">
                {{ question.text }}
            </div>
            <div class="ui answer left icon fluid input">
                <i data-question-id="{{ question.id }}" data-request-id="{{ request.id }}" class="answer disabled save icon"></i>
                <input class="answer" placeholder="Answer" type="text" value="{{ question.answer.text }}">
            </div>
        </div>
    </div>
  </div>
{% endfor %}
</div>