{% load compressed %}
{% load django_settings %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title%} {% django_settings 'PROJECT_TITLE' %} {% endblock title%}</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compressed_css 'contrib' %}
</head>

<body>

<div class="ui secondary pointing menu">
    <div class="item">
        <h1>{% django_settings 'PROJECT_TITLE' %} </h1>
    </div>

    <div class="right menu">
        <a class="item" href="#">
            <iframe src="http://ghbtns.com/github-btn.html?user=candela-it&repo=hirc&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="50" height="20"></iframe>
        </a>
        <a class="item" href="/" id="menu_homepage">
            <i class="globe icon"></i> Home
        </a>
        <a class="item" href="{% url 'list_requests' %}" id="menu_imagery">
            <i class="photo icon"></i> Imagery requests
        </a>
        <a class="item" href="{% url 'about_page' %}" id="menu_about">
            <i class="help icon"></i> About
        </a>
        {% if user.is_authenticated %}
            <div class="item">
                <i class="user icon"></i> {{ user.username }}
            </div>
            <div class="item">
                <a class="ui button" href="{% url 'logout_user' %}"> Logout</a>
            </div>
        {% else %}
            <div class="item">
                <a class="ui orange button" href="{% url 'social:begin' 'openstreetmap' %}"><i class="user icon"></i> Login</a>
            </div>
        {% endif %}
    </div>
</div>
<div class="full-page-width">
{% block content %}

{% endblock content %}
</div>
<div class='flash_messages'>
</div>

{% compressed_js 'contrib' %}
{% compressed_js 'templates' %}
{% compressed_js 'application' %}

{% block extra_js %}

{% endblock extra_js %}
<script type="text/javascript">
$('.flash_messages').on('click', '.message .close', function(evt) {
    var fl_message = $(this).closest('.message');
    fl_message.transition('fade out', {
        'complete': function() {fl_message.remove();}
    });
});
</script>
</body>
</html>