{% load comments %}
{% load annotate_comment_tree %}
{% load humanize %}

{% for comment in comment_list|annotate_comment_tree %}

	{# if the comment is the same level close last comment and it's not open #}
	{% ifchanged comment.level %}
		{% if not comment.open %}</div>{% endif %}
	{% else %}
	{# if not close #}
	</div>
	{% endifchanged %}

	{% if forloop.first %}
		{% if comment.open %}<div class="ui minimal comments">{% endif %}
	{% else %}
		{% if comment.open %}<div class="comments">{% endif %}
	{% endif %}

		<div class="comment">
			<a class="avatar">
				<i class="icon inverted circular blue comment"></i>
			</a>
			<div class="content">
				<a class="author">{{ comment.user }}</a>
				<div class="metadata">
					<span class="date">{{ comment.submit_date|naturaltime }}</span>
				</div>
				<div class="text">
					{{ comment.comment}}
				</div>
				<div class="actions">
					<a class="delete" href="{% url 'delete_own_comment' comment.id %}">Delete</a>
					<a class="reply" data-comment-id="{{ comment.id }}">Reply</a>
				</div>
			</div>

	{# close comments, if needed #}
	{% for close in comment.close %}</div></div>{% endfor %}
{% endfor %}
